Source: apps-api
Section: misc
Priority: optional
Maintainer: Azer Abdullaev (Like All) <like-all@yandex.com>
Build-Depends: debhelper (>= 9), nodejs, nodejs-legacy
Standards-Version: 3.9.5
X-Debrew-Production-Flavours: ["jessie"]
X-Debrew-Production-Architectures: ["amd64"]
X-Debrew-Testing-Flavours: ["jessie"]
X-Debrew-Testing-Architectures: ["amd64"]
X-Debrew-Maintainer-Login: like-all

Package: apps-api
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, nodejs (>= 0.12), tools-pisun, memcached, git, python-pymongo, nginx, jq
Description: various API endpoints
