[Unit]
Description=Database for API service

[Service]
User=apps
ExecStart=/usr/bin/mongod --smallfiles --config /etc/mongodb/apps-api-db.conf --bind_ip 127.0.0.1 --port 27018
SyslogIdentifier=apps-api-db

[Install]
WantedBy=multi-user.target
