[Unit]
Description=Collect weekly contributions

[Service]
ExecStart=/opt/apps-api/background_jobs/update_github_stats.py
Type=oneshot
RemainAfterExit=no
