[Unit]
Description=Various API endpoints

[Service]
User=apps
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/run/apps
ExecStartPre=/bin/chown apps:apps /var/run/apps
ExecStartPre=-/bin/rm -f /var/run/apps/apps-api.sock
ExecStart=/usr/bin/node /opt/apps/api/current/bin/server.js
ExecStartPost=/bin/sleep 0.1
ExecStartPost=/bin/chmod 777 /var/run/apps/apps-api.sock
WorkingDirectory=/opt/apps/api/current/bin

[Install]
WantedBy=multi-user.target
